#modeSelect {
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  z-index:9999;  /* ←最前面固定 */
  background:#fff; /* 画面全体を覆う */
}

#modeSelect img {
  width:90%;
  max-width:420px;
  margin:12px 0;
}
